#movie-display {
	display: inline-flex;
	flex-direction: row;
}

.movie-styles {
	flex-direction: column;
	align-items: center;
	margin: 15px;
	overflow: hidden;
	width: 4000px;
	opacity: 1;
	transform: translateY(0);
}
.movie-title {
	font-size: 16px;
}

.hidden {
	opacity: 0;
	transform: translateY(30px);
	transition: all 0.5s ease;
}
