#movie-display {
	display: inline-flex;
	flex-direction: row;
}

.movie-styles {
	flex-direction: column;
	align-items: center;
	margin: 15px;
	overflow: hidden;
	width: 4000px;
}
.movie-title {
	font-size: 16px;
}

.hidden {
	display: none;
}
