#movie-display {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	gap: 20px;
	scroll-snap-type: x mandatory;
	width: 100%;
	height: 350px;
}

.movie-styles {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 1;
	transform: translateY(0);
	transition: all 0.6s ease;
	width: 300px;
	text-align: center;
	overflow-y: hidden;
}

.hidden {
	opacity: 0;
	transform: translateY(30px);
}

h3 {
	font-size: 21px;
}
